<div class="col-10">
  <div class="row" style="margin-left: 10px">
      <div class="col-12">
          <h3>자기 소개</h3>
      </div>
      <div class="col-12">
          <hr>
      </div>
      <div class="col-0">
          <!-- 사진 영역 -->
          <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/115821669_989235328178977_6984085335687572244_n.jpg?_nc_cat=100&_nc_sid=8bfeb9&_nc_eui2=AeHcQWlBFMf1wWOp5Zo35AUPbpmPiaGfTyNumY-JoZ9PI2oKMcBntof-Z4kYBMgI6Gzi1WsyeF22PB3daLv0EclM&_nc_ohc=sk0CiAG07aoAX_IaKPg&_nc_ht=scontent-ssn1-1.xx&oh=00206c152f531c4aa2eeb1d717829e84&oe=5F451BC2" width="250px" height="250px">
      </div>
      <div class="col-6">
          <h5>이름 : 김동익<h5>
          <hr>
          <!-- content -->
         키:186 몸무게:90<br>
         <strong>좋아하는것:<br></strong>
         낚시도 좋아하는 편이고 친구들과 함께 헬스장 아니면 풋살장 아니면 영화관 또는 노래방에 가는걸 좋아합니다<br>
         그리고 여행가는것도 좋아합니다!<br>
         <strong>싫어하는것:</strong><br></h5>
         술마시는것,더운것,시청역에서 내리는것<br>
      </div>
      <div class="col-1">
          <!-- etc -->
      </div>
  </div>
  <br>
  <h3>✉️ Contact Me</h3>
  <p style="font-size: 20px;">&nbsp;&nbsp;&nbsp;이메일 : qldrh3340@naver.com
      <br>&nbsp;&nbsp;&nbsp;github : <a href="https://github.com/KR-oreao"><img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/115933069_989257504843426_6271053419874520641_o.jpg?_nc_cat=106&_nc_sid=8bfeb9&_nc_eui2=AeG-g-uglY3hF9NHgs4wSwSUjJVmFuMMBD6MlWYW4wwEPgWxP0MgtjqTO2NbjWivxQSbLPVxB7sFS7_g3BoS4v7R&_nc_ohc=2FWTkWAG9swAX_AtW33&_nc_ht=scontent-ssn1-1.xx&oh=1f35c21cd090315c628ff6c3d4aa84f4&oe=5F43DD9D" width="100"></a></p>
  <br>
  <h5></i> 2020개인목표</h5>
  <table class="table">
      <thead>
          <tr>
              <th>목표</th>
              <th>기간</th>
              <th>노력여부</th>
              <th>성공확률</th>
              
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>3대500</td>
              <td>2020 12월31일까지</td>
              <td>항상 거의 운동함</td>
              <td>10%미만...</td>
          </tr>
          <tr>
              <td>챔스결승경기 직관가기</td>
              <td>*코로나떄문에 결승전 미확정</td>
              <td>최대한 코로나 빨리끝나길 기도</td>
              <td>5%미만</td>
          </tr>
      </tbody>
  </table>
  
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active" ></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5" ></li>
    <li data-target="#demo" data-slide-to="6"></li>
    <li data-target="#demo" data-slide-to="7"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfMyAg/MDAxNTk1ODQ0OTU3NTY3.3Q8eDW3TmBA9ziSUOQF9fq8zVe3vY2L3B9vXbraMagkg.9w4jizbYnHBk7zKiXfHOY1Cz4pcz-Z3dzTABx08Ls8sg.JPEG.qkqhsksjek/1.jpg?type=w773" alt="bird" width="800" height="700">
    </div>
    <div class="carousel-item">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfNTYg/MDAxNTk1ODQ0OTU3NTY4.LcHFxTtgVjhQZvpag1p5f3cegpCmpU2F4EjimDqs7Zog.MEkb20y0i_6t_sSl-gF_84HzpCdCR9zutDlvhq3Y5H0g.JPEG.qkqhsksjek/2.jpg?type=w773" alt="cat" width="800" height="700">
    </div>
    <div class="carousel-item">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfMjY4/MDAxNTk1ODQ0OTU3NTYz.5cXwqMVINr2OgVgHtXfPTH1aWPVvq-myPzqcVLGGEBIg.3TMTr3i2fpUgBrzwJuJi9pfAIZOAiKs-z2vjQ0cfR9Mg.JPEG.qkqhsksjek/3.jpg?type=w773" alt="dog" width="800" height="700">
    </div>
    <div class="carousel-item">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfOTIg/MDAxNTk1ODQ0OTU3NTc2.-8j-lDYC7Yd5-9iIiqjWk8zROoZgWGKaectaf9RDVygg.GzBJP_0qSrBY2hHiZRPPhWfLHZ09704LRLnrf-whvhog.JPEG.qkqhsksjek/5.jpg?type=w773" alt="dog" width="800" height="700">
    </div>
    <div class="carousel-item">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfMTEz/MDAxNTk1ODQ0OTU3NTgx.CeBr3kYyjppRQ8pDNC-7s5yPUPyKnrtFJaH2iMS8KlYg.l4lQ3nFfXDCt_3OVrEpG63YyrKKdOrrFJ6xJAY_4bjMg.JPEG.qkqhsksjek/6.jpg?type=w773" alt="dog" width="800" height="700">
    </div>
    <div class="carousel-item">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfMjk5/MDAxNTk1ODQ0OTU3Nzg2.TtcRArH73BfBC6T-e34jE-FhHhPAGlClH4SGXnBMuX0g.kZeNAXhjAM2um1GeMTEsyeGTB_hH5ok15WrolyAzwvsg.JPEG.qkqhsksjek/7.jpg?type=w773" alt="dog" width="800" height="700">
    </div>
    <div class="carousel-item">
      <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/115932248_989235074845669_5141389842887466951_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_eui2=AeGMhQEsW50OeFYj85l00rfh0CBHqqD-b9_QIEeqoP5v3yd_q_CvsAxSGGEYcvZFos-UIRRp6CT9a3cRv8UC0J9l&_nc_ohc=QvxDtmniFWEAX_9b3Ga&_nc_ht=scontent-ssn1-1.xx&oh=6b8fce56bdc3fff937e68bd1cb0cc9ca&oe=5F450181" alt="dog" width="700" height="700">
    </div>
    <div class="carousel-item">
      <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/116237671_989234974845679_1857853360483522888_n.jpg?_nc_cat=108&_nc_sid=8bfeb9&_nc_eui2=AeFSjDaDSaTUmWINWIiDn1QSn7xqkz6zgQ2fvGqTPrOBDQXINGj1VRguur75oG-hMbWR1TcMP6Yen0Xa7Dxpvl1v&_nc_ohc=Xc8knCaTv2UAX9LQG7I&_nc_ht=scontent-ssn1-1.xx&oh=4a5204ba1f7b0931ba0748de4d191e82&oe=5F47124C" alt="dog" width="800" height="700">
    </div>



  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
</div>
