<div class="row" style="margin-left: 10px">
    <div class="col-3">
        <!-- 사진 영역 -->
        <a href='https://ifh.cc/v-IPfREp' target='_blank'><img src='https://ifh.cc/g/IPfREp.jpg' width="200px" height="200px"></a>
    </div>
    <div class="col-8">
        <div class = "container" style = "text-align: left;">
            <h5>이름 : 김유은</h5>  
            <h5>생년월일 : 1996.06.05</h5> 
            <h5>학교 : 충남대학교 수학과</h5>
            <br>
                <a href='https://github.com/YueunKim' target='_blank'><img src='https://ifh.cc/g/DRjdR2.png' width="40px" height="40px"></a>
                <a href='https://www.instagram.com/yueuny_/' target='_blank'><img src='https://ifh.cc/g/Kb9jER.png' width="40px" height="40px"></a>
                <a href='https://blog.naver.com/kue0605' target='_blank'><img src='https://ifh.cc/g/QUVqgw.png' width="40px" height="40px"></a>
                <h5>click this icon</h5>
        </div>
        <hr>
    </div>
    <div class="col-1">
        <!-- etc -->
    </div>
</div>
<br>
<div style="text-align : center">
    <h4>MY HOBBY</h4>
    <a href='https://ifh.cc/v-YjndHI' target='_blank'><img src='https://ifh.cc/g/YjndHI.jpg' width="180px" height="180px"></a>
    <a href='https://ifh.cc/v-4nHKDu' target='_blank'><img src='https://ifh.cc/g/4nHKDu.jpg' width="180px" height="180px"></a>
    <a href='https://ifh.cc/v-a2DmW2' target='_blank'><img src='https://ifh.cc/g/a2DmW2.jpg' width="180px" height="180px"></a>
    <a href='https://ifh.cc/v-BEQRI3' target='_blank'><img src='https://ifh.cc/g/BEQRI3.jpg' width="180px" height="180px"></a>
    <br>
    <br>
    <h4>I LIKE IT</h4>
    <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner" style="margin-bottom:100px;">
    <div class="carousel-item active">
        <a href='https://ifh.cc/v-KI0xlI' target='_blank'><img src='https://ifh.cc/g/KI0xlI.gif' width="700px" height="400px"></a>
    </div>
    <div class="carousel-item">
        <a href='https://ifh.cc/v-X609A0' target='_blank'><img src='https://ifh.cc/g/X609A0.gif' width="700px" height="400px"></a>
    </div>
    <div class="carousel-item">
        <a href='https://ifh.cc/v-HyLvRP' target='_blank'><img src='https://ifh.cc/g/HyLvRP.gif' width="700px" height="400px"></a>
    </div>
    <div class="carousel-item">
    <a href='https://ifh.cc/v-YJ7JMT' target='_blank'><img src='https://ifh.cc/g/YJ7JMT.gif' width="700px" height="400px"></a>
    </div>
    <div class="carousel-item">
    <a href='https://ifh.cc/v-dkE46h' target='_blank'><img src='https://ifh.cc/g/dkE46h.gif' width="700px" height="400px"></a>
    </div>
    <div class="carousel-item">
    <a href='https://ifh.cc/v-PfFU4c' target='_blank'><img src='https://ifh.cc/g/PfFU4c.gif' width="700px" height="400px"></a>
    </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    </a>
</div>           
