{% extends "base_team.html" %}
{% block subtitle %}Introduce{% endblock %}

{% block content %}
<div class="col-10">
  <div class="row" style="margin-left: 10px">
      <div class="col-12">
          <h3>자기 소개</h3>
      </div>
      <div class="col-12">
          <hr>
      </div>
      <div class="col-3">
          <!-- 사진 영역 -->
          <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfMTA4/MDAxNTk1ODQ0OTU3NTY3.lsrWr-nfUSq7JAYHFCRvA2KMXso_7uSX-_6Quz_Bfvog._mGUu8Y7DAIt9JT7lxLkm7KZLG5FUtEVIPE-U4Kh_O8g.JPEG.qkqhsksjek/4.jpg?type=w773" width="190px" height="200px">
      </div>
      <div class="col-8">
          <h5>이름 : 김동익<h5>
          <hr>
          <!-- content -->
         키:186 몸무게:90<br>
         <strong>좋아하는것:<br></strong>
         낚시도 좋아하는 편이고 친구들과 만나면 헬스장 아니면 풋살장 아니면 영화관에서 보는 편<br>
         여행가는것도 좋아하는 편입니다!<br>
         <strong>싫어하는것:</strong><br></h5>
         술마시는것,더운것,시청역에서 내리는것<br>
      </div>
      <div class="col-1">
          <!-- etc -->
      </div>
  </div>
  <br>
  <h3>✉️ Contact Me</h3>
  <p style="font-size: 20px;">&nbsp;&nbsp;&nbsp;이메일 : qldrh3340@naver.com
      <br>&nbsp;&nbsp;&nbsp;github : <a href="https://github.com/KR-oreao"><img src="{{url_for('static', filename='images/github.png')}}" width="100"></a></p>
  <br>
  <h5></i> 2020개인목표</h5>
  <table class="table">
      <thead>
          <tr>
              <th>목표</th>
              <th>기간</th>
              <th>노력여부</th>
              <th>성공확률</th>
              
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>3대500</td>
              <td>2020 12월31일까지</td>
              <td>항상 거의 운동함</td>
              <td>10%미만...</td>
          </tr>
          <tr>
              <td>챔스결승경기 직관가기</td>
              <td>*코로나떄문에 결승전 미확정</td>
              <td>최대한 코로나 빨리끝나길 기도</td>
              <td>5%미만</td>
          </tr>
      </tbody>
  </table>
  
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active" ></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5" ></li>
    <li data-target="#demo" data-slide-to="6"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfMyAg/MDAxNTk1ODQ0OTU3NTY3.3Q8eDW3TmBA9ziSUOQF9fq8zVe3vY2L3B9vXbraMagkg.9w4jizbYnHBk7zKiXfHOY1Cz4pcz-Z3dzTABx08Ls8sg.JPEG.qkqhsksjek/1.jpg?type=w773" alt="bird" width="800" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfNTYg/MDAxNTk1ODQ0OTU3NTY4.LcHFxTtgVjhQZvpag1p5f3cegpCmpU2F4EjimDqs7Zog.MEkb20y0i_6t_sSl-gF_84HzpCdCR9zutDlvhq3Y5H0g.JPEG.qkqhsksjek/2.jpg?type=w773" alt="cat" width="800" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfMjY4/MDAxNTk1ODQ0OTU3NTYz.5cXwqMVINr2OgVgHtXfPTH1aWPVvq-myPzqcVLGGEBIg.3TMTr3i2fpUgBrzwJuJi9pfAIZOAiKs-z2vjQ0cfR9Mg.JPEG.qkqhsksjek/3.jpg?type=w773" alt="dog" width="800" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfOTIg/MDAxNTk1ODQ0OTU3NTc2.-8j-lDYC7Yd5-9iIiqjWk8zROoZgWGKaectaf9RDVygg.GzBJP_0qSrBY2hHiZRPPhWfLHZ09704LRLnrf-whvhog.JPEG.qkqhsksjek/5.jpg?type=w773" alt="dog" width="800" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfMTEz/MDAxNTk1ODQ0OTU3NTgx.CeBr3kYyjppRQ8pDNC-7s5yPUPyKnrtFJaH2iMS8KlYg.l4lQ3nFfXDCt_3OVrEpG63YyrKKdOrrFJ6xJAY_4bjMg.JPEG.qkqhsksjek/6.jpg?type=w773" alt="dog" width="800" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfMjk5/MDAxNTk1ODQ0OTU3Nzg2.TtcRArH73BfBC6T-e34jE-FhHhPAGlClH4SGXnBMuX0g.kZeNAXhjAM2um1GeMTEsyeGTB_hH5ok15WrolyAzwvsg.JPEG.qkqhsksjek/7.jpg?type=w773" alt="dog" width="800" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://postfiles.pstatic.net/MjAyMDA3MjdfOTkg/MDAxNTk1ODQ0OTU3Nzg0.UvaXV-C6Q_vTjNuKFID4BTMcb1NTVU7Rxi4_MGNivW4g.nHSJ1Rstw1O3FlFm9sVpZkJuINlkIW0nIHTlEFgBIqEg.JPEG.qkqhsksjek/8.jpg?type=w773" alt="dog" width="800" height="500">
    </div>




  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
</div>
{% endblock %}